@font-face {
    font-family: "pop-bold";
    src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
    font-family: "pop-reg";
    src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
    font-family: "orbi-bold";
    src: url("../assets/fonts/Orbitron/static/Orbitron-Bold.ttf");
}
